@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
  color: #545454;
}

.app-wrap {
  position: relative;
  height: 600px;
}

/*NAVIGATION*/
.navigation-wrap {
  position: absolute;
  top: 60px;
  z-index: 100;
}
.navigation-link {
  display: flex;
  padding: 16px;
  font-family: "Times New Roman", Times, "serif";
  font-size: 1.414em;
  text-decoration: none;
  color: #545454;
}
.navigation-line {
  position: relative;
  display: inline-block;
  width: 24px;
}
.navigation-line::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 18px;
  background-color: #545454;
}
.navigation-link:hover {
  color: #049a4f
}
.navigation-link:hover > .navigation-line::before {
  background-color: #049a4f;
}

/*HOME*/
.home-wrap {
  position: relative;
  height: 600px;
}
.home-image-wrap {
  position: absolute;
  text-align: center;
  top: 40px;
  left: 50%;
}
.home-image {
  width: 164px;
  height: auto;
}
.home-banner-wrap {
  position: absolute;
  top: 240px;
  right: 0;
  width: 64%;
  height: 320px;
  background-position: center center;
  background-size: cover;
}
.home-txt {
  position: absolute;
  top: 210px;
  right: 57%;
  color: black;
  writing-mode: vertical-rl;
  line-height: 50px;
  letter-spacing: 4px;
  font-size: 20px;
  font-family: "Noto Sans Japanese", serif;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-ideograph;
}

/*PAGE TITLE*/
.page-title {
  display: inline-block;
  color: #545454;
  font-family: "Times New Roman", Times, "serif";
  font-size: 1.999em;
  border-bottom: 1px solid #545454;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

/*PRODUCTS PAGE*/
.products-wrap {
  position: absolute;
  top: 60px;
  right: 1%;
  width: 80%;
  height: 600px;
  text-align: center;
}
.products-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-item {
  width: 28%;
  margin-bottom: 16px;
  text-align: left;
}
.products-price {
  margin-top: 8px;
}
